.SliderComponent{

    /* border: 2px solid red; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 2px solid blue; */
    width: 1140px;

}



.top_logo{

}
.top_logo>i{
    font-size: 140px;
    line-height: 88px;
    color: #764979;
    margin-bottom: 35px;

}

.text{

}

.txt_feedback{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #242424;
    padding: 0 52px 0 55px;
    margin-bottom: 26px;
    font-family: 'Karla', sans-serif;

    
    
}

.profile_wrapper{

}

.img_user{
    margin-bottom: 18px;

}

.name{
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #242424;
    margin-bottom: 5px;
    

}

.designation{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #6b6b6b;
    letter-spacing: 1px;

}




@media only screen and (max-width: 1200px) {
  .container{
    
    width: 960px;

}

.txt_feedback{

    font-size: 20px;
    line-height: 32px;
    padding: 0 46px 0;
    margin-bottom: 22px;
    
}

.top_logo>i{
    font-size: 115px;
    line-height: 75px;
    margin-bottom: 25px;
}
.name{
    font-size: 20px;
    line-height: 22px;
    

}

.designation{
    font-size: 16px;
    line-height: 22px;
}

}
@media only screen and (max-width: 990px) {
    .container{
        
        width: 720px;
        
    }
    
    .txt_feedback{
    
        font-size: 18px;
    line-height: 28px;
    padding: 0 12px 0;
    margin-bottom: 18px;
        
    }

    .top_logo>i{
        font-size: 100px;
        line-height: 62px;
        margin-bottom: 20px;
    }
    .name{
        font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
        
    
    }
    
    .designation{
        font-size: 16px;
    line-height: 22px;
    
    }
}
@media only screen and (max-width: 768px) {
  .container{
    
    width: 540px;

}

.txt_feedback{
    
    font-size: 16px;
    line-height: 26px;
    padding: 0;
    margin-bottom: 12px;
    
}

.top_logo>i{
    font-size: 70px;
    line-height: 42px;
    margin-bottom: 15px;
}
.name{
    font-size: 16px;
    line-height: 18px;
    

}

.designation{
    font-size: 14px;
    line-height: 20px;

}

}
@media only screen and (max-width: 575px) {
  .container{
    
    width: 90vw;

}

.txt_feedback{
    
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    
}

.top_logo>i{
    font-size: 60px;
    line-height: 35px;
    margin-bottom: 10px;
}
.name{
    
    

}

.designation{
    

}

}
@media only screen and (max-width: 426px) {
  .container{
    
    

}

}
