.BlogPost {
  /* background-color: #9bd839; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  /* padding: 120px 50px; */
  padding-top: 140px;
    padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* width: 70vw; */
  width: 1140px;
  /* border: 2px solid red; */
}

.txt_all {
  /* width: 80%; */
  /* height: 50%; */
  /* background-color: rgb(218, 134, 134); */
  text-align: center;
}
.txt_all > h5 {
    font-family: 'Karla', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #764979;
  letter-spacing: 3.1px;
  margin-bottom: 12px;
}
.txt_all > h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #242424;
}
.txt_all > p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 0 95px;
  color: #6b6b6b;
}
@keyframes float_all_cards {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.card_wrapper {
  /* width: 70vw; */
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation: float_all_cards 6s ease-in-out infinite;
  /* padding: 20px 0; */
  /* width: 1050px; */
}

.card {
  /* margin-right: 15px; */
  padding: 10px;
}
/* .card2 { */
  /* margin-left: 15px; */
  /* padding: 10px; */
/* } */

.btn_wrapper {
  margin-top: 10px;
}
.btn_wrapper > a {
  font-size: 18px;
  line-height: 18px;
  padding: 20px 30px;
  text-decoration: none;
  position: relative;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  padding: 24px 40px;
  text-align: center;
  color: #413625;
  display: inline-block;
  background-color: #e1ccad;
  border-radius: 35px 0px 35px 0px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}







@media only screen and (max-width: 1200px) {
  .container {
    width: 960px;
    padding-top: 95px;
        padding-bottom: 100px;
  }

  .txt_all > h5 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
}
.txt_all > h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}
.txt_all > p {
    margin-bottom: 30px;
    padding: 0 55px;
    font-size: 18px;
    line-height: 26px;
}

.btn_wrapper > a {
    font-size: 20px;
    line-height: 20px;
    padding: 22px 32px;
  }

}
@media only screen and (max-width: 990px) {
  .container {
    width: 720px;
    padding-top: 65px;
        padding-bottom: 70px;
  }
  .txt_all > h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .txt_all > h2 {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 12px;
  }
  .txt_all > p {
    margin-bottom: 25px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .btn_wrapper > a {
    font-size: 18px;
    line-height: 18px;
    padding: 20px 25px;
  }

}
@media only screen and (max-width: 768px) {
  .container {
    width: 540px;
    padding-top: 55px;
        padding-bottom: 60px;
  }

  .txt_all > h5 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
  }
  .txt_all > h2 {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 38px;
  }
  .txt_all > p {
    margin-bottom: 20px;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
  }

  .btn_wrapper > a {
    font-size: 16px;
    line-height: 16px;
    padding: 18px 22px;
  }

}
@media only screen and (max-width: 575px) {
  .container {
    width: 90vw;
  }

  .txt_all > h5 {
    
  }
  .txt_all > h2 {
    
  }
  .txt_all > p {
    
  }

  .btn_wrapper > a {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 20px;
  }

}
@media only screen and (max-width: 426px) {
  .container {
  }


}
